*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Open-Sans', sans-serif;
}

main{
    box-sizing: border-box;
    margin: 80px auto;
    width: 1120px;
}

main div h1 {
    margin-top: 8px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h1, h2 {
    color: #1b1b1b;
    font-weight: bold;
}

h3 {
    color: #e1624f;
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
}

.about p {
    margin-bottom: 8px;
}

.about h1 {
    margin-bottom: 40px;
}

.about img + p {
    text-align: center;
    margin: 24px auto 44px;
    padding: 4px;
}

.divider-1 {
    border: solid #d9d9d9 1px;
}

.location {
    padding-top: 64px;
    
}

.location img{
    margin-top: 64px;
    margin-bottom: 20px;
}

.location h2 {
    margin: 2px auto 4px;
}

ol {
    font-size: 30px;
    font-weight: bold;
}

ol img {
    margin-top: 48px;
}

ol li h2{
    margin-bottom: 4px;
}

ol li{
    margin-left: 40px;
}

ul li {
    color: #0c51a7;
    font-size: 16px;
    font-weight: bold;
    list-style-type: disc;
}

p span {
    font-weight: bold;
    font-size: 16px;
}

.violet{
    color: #591b98;
    
}

.pink {
    color: #e5245e;
}

.orange {
    color: #e95e10;
}


.divider-2 {
    border: solid #d9d9d9 1px;
    margin: 40px 0 40px;
}

section + p {
    text-align: center;
}

footer {
    margin: 65px;
    text-align: center;
    font-size: 16px;
}

